.searchPage{
    padding: 20rem 3rem 5rem;
    .search{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    }
    .sub-section {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 3rem;
        margin-bottom: 5rem;
        li {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        button {
          font-size: 1.6rem;
          padding-left: 2.5rem;
          font-weight: bold;
          color: #ccc;
          background-color: var(--bg-1);
          border-radius: 3rem;
          -webkit-border-radius: 3rem;
          -moz-border-radius: 3rem;
          -ms-border-radius: 3rem;
          -o-border-radius: 3rem;
          transition: var(--transition);
          -webkit-transition: var(--transition);
          -moz-transition: var(--transition);
          -ms-transition: var(--transition);
          -o-transition: var(--transition);
      
          span {
            font-size: 2rem;
            color: gold;
          }
          i {
            font-size: 2.5rem;
            background-color: #343c486e;
            padding: 1.5rem 2rem;
            border-radius: 3rem;
            margin-left: 1rem;
          }
        }
        .active,
        button:focus,
        button:focus-visible,
        button:active,
        button:hover {
          background-color: gold;
          color: var(--bg-3);
          span {
            color: var(--bg-3);
          }
        }
      }
}