.pagination-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  list-style: none;
  padding: 5rem 0;
  flex-wrap: wrap;
  .pagination-link {
    curser: pointer;
    padding: .5rem;
    font-size: 2rem;
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: var(--c);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
  .active{
    background-color: var(--bg-2);
    border: 2px solid var(--c);
    color: var(--c);
    
  }
}
